[user]
	email = wilcox.nicholas.m@gmail.com
	name = nwilcox11
[color]
	ui = true
[core]
	excludesfile = /Users/nickwilcox/.gitignore
	editor = nvim
[pull]
	rebase = true
[alias]
  d = diff
  dt = difftool
  st = status
  br = branch
  co = checkout
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =
[init]
	defaultBranch = main
